<div style="display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%;">
  <common-button [buttonText]="'Click Me'" (click)="getButtonClick()"></common-button>
  <common-button
    [buttonText]="'Open Modal'"
    [backgroundColor]="'blue'"
    (click)="isModalOpen = !isModalOpen"
  ></common-button>
  <hr />
  <common-modal
    [classProp]="{
      height: '50%',
      width: '50%',
      color: 'black'
    }"
    [isModalOpen]="isModalOpen"
    (closeModal)="setCloseModal($event)"
  >
    <div role="content">MODAL</div>
    <div role="footer">FOTTER</div>
  </common-modal>
  <hr />
  <common-card [showHeader]="'true'" [showFooter]="'true'">
    <div role="footer">My Footer</div>
    <div role="header">
      HEADER
      <img style="width: 100%;" src="https://source.unsplash.com/random" alt="random" />
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere atque aspernatur quasi quidem eum culpa soluta illum
    obcaecati doloremque labore, accusamus praesentium illo ut mollitia sint nesciunt et quis voluptatum consectetur
    fugit odio cumque. Officia natus quo voluptatum, fugiat et sed exercitationem culpa ipsam, numquam nobis modi
    accusantium repellat quam saepe dignissimos voluptatem eum debitis labore aspernatur, accusamus nesciunt autem
    provident. Optio eum nostrum adipisci magnam accusantium delectus. Consectetur ipsa deserunt dolores vel quae
    adipisci est quasi totam quidem autem, suscipit doloribus sapiente facilis facere animi necessitatibus voluptatibus
    repellendus! Officia eaque iure eligendi optio soluta quos cum commodi debitis aspernatur.
  </common-card>
  <hr />
  <br /><br /><br />
  <common-search
    [searchArray]="tableData"
    [showDropDown]="'true'"
    [placeholder]="'Search agencies'"
    (selectedSearchResult)="getSelectedResults($event)"
    [stylesClass]="{
      width: '50%'
    }"
  ></common-search>
  <br /><br /><br />
  <common-tab [tabContent]="tabContent"></common-tab>
  <br /><br /><br />
</div>
