<div style="display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%;">
  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Button
    </div>
    <common-button [buttonText]="'Click Me'" (click)="getButtonClick()"></common-button>
  </common-card>

  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [showHeader]="'true'"
  >
    <div role="footer">My Footer</div>
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Modal
    </div>
    <common-button
      [buttonText]="'Open Modal'"
      [backgroundColor]="'blue'"
      (click)="isModalOpen = !isModalOpen"
    ></common-button>
    <common-modal
      [classProp]="{
        height: '50%',
        width: '50%',
        color: 'black'
      }"
      [isModalOpen]="isModalOpen"
      (closeModal)="setCloseModal($event)"
    >
      <div role="content">MODAL</div>
    </common-modal>
  </common-card>

  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [showHeader]="'true'"
    [showFooter]="'true'"
  >
    <div role="footer">My Footer</div>
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Card
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere atque aspernatur quasi quidem eum culpa soluta illum
    obcaecati doloremque labore, accusamus praesentium illo ut mollitia sint nesciunt et quis voluptatum consectetur
    fugit odio cumque. Officia natus quo voluptatum, fugiat et sed exercitationem culpa ipsam, numquam nobis modi
    accusantium repellat quam saepe dignissimos voluptatem eum debitis labore aspernatur, accusamus nesciunt autem
    provident. Optio eum nostrum adipisci magnam accusantium delectus. Consectetur ipsa deserunt dolores vel quae
    adipisci est quasi totam quidem autem, suscipit doloribus sapiente facilis facere animi necessitatibus voluptatibus
    repellendus! Officia eaque iure eligendi optio soluta quos cum commodi debitis aspernatur.
  </common-card>

  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [heightWidth]="{
      height: '300px'
    }"
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Auto Complete
    </div>
    <div style="height: 100%; width: 100%;">
      <common-search
        [searchArray]="tableData"
        [showDropDown]="'true'"
        [placeholder]="'Search agencies'"
        (selectedSearchResult)="getSelectedResults($event)"
        [stylesClass]="{
          width: '100%'
        }"
      ></common-search>
    </div>
  </common-card>
  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Tab
    </div>
    <common-tab [tabContent]="tabContent"></common-tab>
  </common-card>

  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Reactive Form
    </div>
    <app-dynamic-form [config]="config" (formSubmittedValues)="submit($event)"></app-dynamic-form>
  </common-card>

  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Table
    </div>
    <div style="height: 100%; width: 100%;">
      <common-table
        [dataKey]="'agencyId'"
        [styleClass]="{ height: '100%', width: '50%' }"
        [tableData]="tableData"
        [columns]="tableHeaders"
        [rowsperPage]="5"
        [rowsPerPageOptions]="[5, 10, 15, 20]"
        (editTableData)="editTableData($event)"
      ></common-table>
    </div>
  </common-card>

  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [heightWidth]="{
      height: '20%',
      width: '20%'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Select
    </div>
    <common-dropdown [options]="options" (selectedValue)="getSelectedValue($event)"></common-dropdown>
  </common-card>

  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [heightWidth]="{
      height: '20%',
      width: '20%'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Split Button
    </div>
    <common-split-button
      [listItems]="listItems"
      [buttonText]="'Choose Action'"
      [backgroundColor]="'green'"
      (handleClick)="getClickedItem($event)"
    ></common-split-button>
  </common-card>

  <div style="margin-top: 5rem; margin-bottom: 5rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [heightWidth]="{
      height: '20%',
      width: '20%'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Select
    </div>
    <pre>{{ form.value | json }}</pre>
    <p>ngModel value: {{ state }}</p>
    <form #form="ngForm">
      <common-select [stateList]="statesArray" name="state" [(ngModel)]="state"></common-select>
      <button type="submit">Submit State Form</button>
    </form>
    <!-- <form style="display: flex; flex-direction: column;" #form="ngForm" (ngSubmit)="submitTestForm(form.value)">
      <common-select [stateList]="statesArray" name="state" ngModel #state="ngModel"></common-select>
      <button type="submit">Submit State Form</button>
    </form> -->
    <!-- <common-select [stateList]="statesArray" name="state" [(ngModel)]="state"></common-select> -->
  </common-card>

  <div style="margin-top: 5rem; margin-bottom: 5rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [heightWidth]="{
      height: '20%',
      width: '20%'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Multi Select
    </div>
    <pre>{{ multiSelectForm.value | json }}</pre>
    <p>ngModel value: {{ languages }}</p>
    <form #multiSelectForm="ngForm" (ngSubmit)="getMultiSelectFormValues(multiSelectForm.value)">
      <common-multi-select [options]="options" name="languages" [(ngModel)]="languages"></common-multi-select>
      <button type="submit">Submit Multi Select Form</button>
    </form>
  </common-card>

  <div style="margin-top: 2rem; margin-bottom: 2rem;"></div>

  <common-card
    [headerStyles]="{
      'background-color': 'blue',
      color: 'white',
      height: '30px',
      'border-radius': '0.5rem'
    }"
    [heightWidth]="{
      height: '20%',
      width: '20%'
    }"
    [showHeader]="'true'"
  >
    <div style="height: fit-content; width: fit-content; padding-left: 1rem;" role="header">
      Common Counter Custom Form Control
    </div>
    <form style="display: flex; flex-direction: column;" #form="ngForm" (ngSubmit)="getCounterValue(form.value)">
      <common-counter name="counter" [(ngModel)]="outerCounterValue"></common-counter>
      <button type="submit">Submit</button>
    </form>
    <pre>{{ form.value | json }}</pre>
    <p>ngModel value: {{ outerCounterValue }}</p>

    <h4>Reactive Form</h4>
    <form [formGroup]="counterReactiveForm" (ngSubmit)="setReactiveFormValue()">
      <common-counter formControlName="counter"></common-counter>
      <button type="submit">Submit</button>
    </form>
    <pre>{{ form.value | json }}</pre>
    <p>Reactive Form Value: {{ outerCounterValue }}</p>
  </common-card>
</div>
